.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 50%;
    height: 50vh;
    margin: 50px auto 50px auto;
    align-self: center;
    cursor: pointer;
}

.title{
    font-size: xx-large;
    font-weight: bolder;
}

.header{
    width: 50%;
    margin: 100px auto 0px auto;
    align-self: center;
    display: flex;
    justify-content: space-between;
}

body{
    background-color: hsl(235, 21%, 11%);
    background-image: url(./images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

#textInput{
    border: none;
    background-color: hsl(235, 24%, 19%);
    padding: 10px;
    width: 100%;
}

.checkbox{
    margin-right: 10px;
    align-self: center;
    
}

.todoList{
    background-color: hsl(235, 24%, 19%);
    height: 40vh;
    margin-top: 10px;
}
.newTodo{
    display: flex;
    /* margin: auto;
    text-align: center; */

    background-color: hsl(235, 24%, 19%);
}
.checkbox{
    border-radius: 50%;
}

.firstTodo{
    display: flex;
    justify-content: space-around;
    /* height: 3vh; */
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid gray;
}

.secondTodo{
    display: flex;
    justify-content: space-around;
    padding: 15px 0px 15px 0px;
}

.bottom{
    display: flex;
    justify-content: space-around;
}
.bottom:hover{
    color: turquoise;
}